<!DOCTYPE html>
<html>
<head>
  <title>Morion</title>
  <%= stylesheet_link_tag    "morion/application", media: "all" %>
  <%= javascript_include_tag "morion/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header is-morion strong">
  <div class="columns is-multiline is-vcentered">
    <div class="column is-4 has-text-centered">
      <%= image_tag "morion/morion_brand.png", class: 'brand' %>
      <p>Easy to see your Rails image assets</p>
    </div>
    <div class="column is-4 has-text-centered">
      <p>Click on <span class="fa fa-copy"></span> to copy Rails file path</p>
    </div>


    <div class="column is-4 has-text-centered">
      <a class="link is-info">GitHub</a>
    </div>
  </div>
</div>

  <%= yield %>
</body>
</html>
